*                       @org-fronentflorelia/sm-p01-nombre @<ORG>/coderowners
/src/                    @org-fronentflorelia/sm-p01-nombre @<ORG>/coderowners
/docs/                   @org-fronentflorelia/sm-p01-nombre @<ORG>/coderowners
/.github/                @org-fronentflorelia/coderowners
/docs/rubrica-evaluacion.md @org-fronentflorelia/coderowners